:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;

}
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
}

nav{
  padding: 50px 10px 0px 10px;
  flex: var(--sidebar-flex);
  background-color: cadetblue;
  font-weight: 500;
}
nav ul{
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style: none;
}

nav ul li{
  margin: 40px;
}

nav ul li a{
  color: aliceblue;
  text-decoration: none;
}

.condiv {
  padding: 10px;
  background-color: mintcream;
  flex: var(--condiv-flex);
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.profilepic {
  width: 80%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 5%;
}

.social {
  position: absolute;
  margin-top: 20px ;
  display: flex;
  bottom: 10px;
}

.social i {
  padding-right: 10px;
  font-size: 20px;
  color: darkolivegreen;
}

.social i:hover {
  color: darkseagreen;
}

.typingeffect {
  font-size: var(--typing-font);
  margin-bottom: 20px;
}

.about {
  text-align: center;
}

.subtopic{
  font-size: 24px;
  margin: 10px 10px 10px 10px !important;
  text-align: center;
}

h1,h2,h3,h4 {
  margin: 10px;
}

p {
  font-size: var(--fontsize-p);
  text-align: justify;
}

.widecard {
  display: flex;
  margin: 20px 0px 20px 0px;
  border-radius: 10px ;
  transition: .3s;
  padding: .5rem;
}

/*.widecard:hover{
  color: aliceblue;
  background: rosybrown;
  box-shadow: 3px 3px 10px;
}

.wd {
  display: flex;
  margin: 20px 0px 20px 0px;
  border-radius: 10px ;
  transition: .3s;
  padding: .5rem;
}

.wd:hover{
  color: aliceblue;
  background: rosybrown;
  box-shadow: 3px 3px 10px;
}

.w {
  display: flex;
  margin: 20px 0px 20px 0px;
  border-radius: 10px ;
  transition: .3s;
  padding: .5rem
}

.w:hover{
  color: aliceblue;
  background: rosybrown;
  box-shadow: 3px 3px 10px;
}*/

.skill ul {
  display: flex;
  background-color: rosybrown;
  color: aliceblue;
  border-radius: 10px;
}

.skill ul li{
  list-style: none;
  margin: 20px;
}

.active {
  font-weight: bolder;
}
button{
  font-family: 'Courier New', Courier, monospace;
}
.button1{
  margin: 20px;
  background-color: rgb(185, 229, 247);
  width: 100px;
  height: 50px;
  border-radius: 30%;
  font: 1em sans-serif;
  text-shadow: 5px;
  font-weight: 800;
  border: none;
  text-align: center;
  
}
.button2{
  margin: 20px;
  background-color: rgb(208, 247, 185);
  width: 50px;
  height: 50px;
  border-radius: 20%;
  font: 1em sans-serif;
  text-shadow: 5px;
  font-weight: 800;
  border: none;
  text-align: center;
  
}
.button3{
  margin: 20px;
  background-color: rgb(208, 247, 185);
  width: 120px;
  height: 50px;
  border-radius: 20%;
  font: 1em sans-serif;
  text-shadow: 5px;
  font-weight: 800;
  border: none;
  text-align: center;
  
}
footer{
  height: 50px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  margin-left: 30%;
  
}
.right-icons {
  display: flex; 
}










/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
